In [253]:
import pandas as pd
import numpy as np
import multiprocessing as mp

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import classification_report, confusion_matrix

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import StratifiedKFold

In [254]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import GaussianNB
from copy import deepcopy
import pickle

# Preprocessing

In [294]:
data=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [295]:
lel=LabelEncoder()
lel.fit(data["Churn_risk"])
data["Churn_risk"]=lel.transform(data["Churn_risk"])


le=LabelEncoder()
le.fit(data["Gender"])
data["Gender"]=le.transform(data["Gender"])
test["Gender"]=le.transform(test["Gender"])

le=LabelEncoder()
le.fit(data["Marital_status"])
data["Marital_status"]=le.transform(data["Marital_status"])
test["Marital_status"]=le.transform(test["Marital_status"])

le=LabelEncoder()
le.fit(data["Department"])
data["Department"]=le.transform(data["Department"])
test["Department"]=le.transform(test["Department"])

In [296]:
data.dropna(inplace=True)

In [297]:
y=data["Churn_risk"]
data.drop(["Churn_risk"],axis=1,inplace=True)

In [298]:
imputer = KNNImputer(n_neighbors=105)
imputer.fit(data)

test = pd.DataFrame(imputer.transform(test))
test.columns=data.columns
data = pd.DataFrame(imputer.transform(data))
data.columns=test.columns

Scale Data

In [299]:
scaler=MinMaxScaler()
#scaler=StandardScaler()
data.iloc[:,1:]=scaler.fit_transform(data.iloc[:,1:])
test.iloc[:,1:]=scaler.transform(test.iloc[:,1:])

In [300]:

data.set_index("Employee_ID",inplace=True)
test.set_index("Employee_ID",inplace=True)

# Search

# Drop Columns

In [55]:
# def sing(row1):
#     X=deepcopy(data.drop([row1],axis=1))
#     modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=50,n_neighbors=27,p=1,weights='distance')
#     d=[]
    
#     skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
#     avgs=[]
#     for train_index, test_index in skf.split(X, y):
        
#         X_train, X_test = X.iloc[train_index,:], X.iloc[test_index,:]
#         y_train, y_test = y.iloc[train_index], y.iloc[test_index]
#         modelKNN.fit(X = X_train, y = y_train)
#         avgs.append(modelKNN.score(X_test, y_test))
#     averg=sum(avgs)/len(avgs)
    
#     stdd=0
#     for i in avgs:
#         stdd+=(i-averg)**2
#     stddd=(stdd/len(avgs))**0.5
#     d.append((row1,averg,stddd))
#     return d   

# def single():
#     pool=mp.Pool(processes=8) 
#     row1=['Gender', 'Age', 'Days_off', 'Rotations', 'Satis_leader', 'Satis_team',
#       'Emails', 'Tenure', 'Bonus', 'Distance', 'Kids', 'Overtime',
#       'Marital_status', 'Department']

#     a=pool.map(sing,row1)
#     pool.close()
#     dd=[]
#     for i in a:
#         dd+=i
#     s=pd.DataFrame(dd)
#     s.columns=["Dropped","Mean","std"]
#     return s

In [56]:
# single_df=single()

In [76]:
# single_df.to_pickle("single.pkl")

In [77]:
single_df=pd.read_pickle("single.pkl")

In [60]:
single_df.loc[single_df['Mean']>0.7,:]

           Dropped      Mean       std
0           Gender  0.731283  0.010280
1              Age  0.727026  0.013744
2         Days_off  0.713291  0.009445
3        Rotations  0.724708  0.014760
4     Satis_leader  0.724512  0.009588
5       Satis_team  0.724514  0.012119
6           Emails  0.726835  0.008193
7           Tenure  0.724708  0.009659
8            Bonus  0.723933  0.013114
9         Distance  0.731865  0.012018
10            Kids  0.729932  0.013085
12  Marital_status  0.729928  0.013157
13      Department  0.789904  0.013675

In [66]:
# def doub(row1):
    
#     modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=50,n_neighbors=27,p=1,weights='distance')
#     d=[]
#     for j in data.columns:
#         if row1!=j:
#             X=deepcopy(data.drop([row1,j],axis=1))
#             skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
#             avgs=[]
#             for train_index, test_index in skf.split(X, y):

#                 X_train, X_test = X.iloc[train_index,:], X.iloc[test_index,:]
#                 y_train, y_test = y.iloc[train_index], y.iloc[test_index]
#                 modelKNN.fit(X = X_train, y = y_train)
#                 avgs.append(modelKNN.score(X_test, y_test))
#             averg=sum(avgs)/len(avgs)

#             stdd=0
#             for i in avgs:
#                 stdd+=(i-averg)**2
#             stddd=(stdd/len(avgs))**0.5
#             d.append((row1,j,averg,stddd))
#     return d   

# def double():
#     pool=mp.Pool(processes=8) 
#     row1=['Gender', 'Age', 'Days_off', 'Rotations', 'Satis_leader', 'Satis_team',
#       'Emails', 'Tenure', 'Bonus', 'Distance', 'Kids', 'Overtime',
#       'Marital_status', 'Department']

#     a=pool.map(doub,row1)
#     pool.close()
#     dd=[]
#     for i in a:
#         dd+=i
#     s=pd.DataFrame(dd)
#     s.columns=["Dropped","Dropped","Mean","std"]
#     return s

In [186]:
# double_df=double()

In [78]:
# double_df.to_pickle("double.pkl")

In [79]:
double_df=pd.read_pickle("double.pkl")

In [69]:
double_df.loc[double_df["Mean"]>0.79,:]

            Dropped         Dropped      Mean       std
12           Gender      Department  0.792613  0.014813
25              Age      Department  0.791646  0.015959
129        Distance      Department  0.793969  0.014806
142            Kids      Department  0.794935  0.015646
168  Marital_status      Department  0.791838  0.013007
169      Department          Gender  0.792613  0.014813
170      Department             Age  0.791646  0.015959
178      Department        Distance  0.793969  0.014806
179      Department            Kids  0.794935  0.015646
181      Department  Marital_status  0.791838  0.013007

In [189]:
# def trip(row1):
#     modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=50,n_neighbors=27,p=1,weights='distance')
#     d=[]
#     for i in data.columns:
#         for j in data.columns:
#             if row1!=j and j!=i and row1!=i:
#                 X=deepcopy(data.drop([row1,j,i],axis=1))
#                 skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
#                 avgs=[]
#                 for train_index, test_index in skf.split(X, y):

#                     X_train, X_test = X.iloc[train_index,:], X.iloc[test_index,:]
#                     y_train, y_test = y.iloc[train_index], y.iloc[test_index]
#                     modelKNN.fit(X = X_train, y = y_train)
#                     avgs.append(modelKNN.score(X_test, y_test))
#                 averg=sum(avgs)/len(avgs)

#                 stdd=0
#                 for b in avgs:
#                     stdd+=(b-averg)**2
#                 stddd=(stdd/len(avgs))**0.5
#                 d.append((row1,i,j,averg,stddd))
#     return d   

# def triple():
#     pool=mp.Pool(processes=8) 
#     row1=['Gender', 'Age', 'Days_off', 'Rotations', 'Satis_leader', 'Satis_team',
#       'Emails', 'Tenure', 'Bonus', 'Distance', 'Kids', 'Overtime',
#       'Marital_status', 'Department']

#     a=pool.map(trip,row1)
#     pool.close()
#     dd=[]
#     for i in a:
#         dd+=i
#     s=pd.DataFrame(dd)
#     s.columns=["Dropped","Dropped","Dropped","Mean","std"]
#     return s

In [273]:
# triple_df=triple()

In [96]:
# triple_df.to_pickle("triple.pkl")

In [100]:
triple_df=pd.read_pickle("triple.pkl")

In [105]:
triple_df.loc[triple_df["Mean"]>0.799,:]

             Dropped         Dropped         Dropped      Mean     std
1547        Distance  Marital_status      Department  0.799191  0.0146
1559        Distance      Department  Marital_status  0.799191  0.0146
1991  Marital_status        Distance      Department  0.799191  0.0146
2025  Marital_status      Department        Distance  0.799191  0.0146
2147      Department        Distance  Marital_status  0.799191  0.0146
2181      Department  Marital_status        Distance  0.799191  0.0146

In [103]:
# def quad(row1):
#     d=[]
#     for i in data.columns:
#         for j in data.columns:
#             for k in data.columns:
#                 if row1!=j and j!=i and row1!=i and row1!=k and i!=k and j!=k:
#                     X_train, X_val, y_train, y_val = train_test_split(data.drop([i,j,k,row1],axis=1), y, test_size=0.1, stratify = y, random_state=22)
#                     modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=50,n_neighbors=27,p=1,weights='distance')
#                     modelKNN.fit(X = X_train, y = y_train)
#                     modelNB = GaussianNB()
#                     modelNB.fit(X = X_train, y = y_train)

#                     d.append((i,j,k,row1,modelKNN.score(X_val, y_val),modelNB.score(X_val, y_val)))
#     return d   

# def quadra():
#     pool=mp.Pool(processes=8) 
#     row1=['Gender', 'Age', 'Days_off', 'Rotations', 'Satis_leader', 'Satis_team',
#        'Emails', 'Tenure', 'Bonus', 'Distance', 'Kids', 'Overtime',
#        'Marital_status', 'Department']
#     a=pool.map(quad,row1)
#     pool.close()
#     dd=[]
#     for i in a:
#         dd+=i
#     return pd.DataFrame(dd)

In [106]:
#quad_df=quadra()

In [107]:
#quad_df.to_pickle("quad.pkl")

In [108]:
quad_df=pd.read_pickle("quad.pkl")

In [111]:
quad_df.loc[quad_df["Mean"]>0.8,:]

,Dropped,Dropped,Dropped,Dropped,Mean,std
1176,Distance,Gender,Marital_status,Department,0.80016,0.015988
1187,Distance,Gender,Department,Marital_status,0.80016,0.015988
1550,Marital_status,Gender,Distance,Department,0.80016,0.015988
1581,Marital_status,Gender,Department,Distance,0.80016,0.015988
1682,Department,Gender,Distance,Marital_status,0.80016,0.015988
1713,Department,Gender,Marital_status,Distance,0.80016,0.015988

# KNN

In [138]:
to_drop=["Department","Rotations","Marital_status","Kids","Gender","Bonus","Distance"]

In [140]:
X_train, X_val, y_train, y_val = train_test_split(data.drop(to_drop,axis=1), y, test_size=0.1, stratify = y, random_state=12)

In [141]:
modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=50,n_neighbors=105,p=1,weights='distance')
modelKNN.fit(X = X_train, y = y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=50, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=105, p=1,
                     weights='distance')

In [142]:
# modelKNN.predict_proba(X_val)

In [143]:
labels_train = modelKNN.predict(X_train)
labels_val = modelKNN.predict(X_val)

In [144]:
modelKNN.score(X_train, y_train)

1.0

In [145]:
modelKNN.score(X_val, y_val)

0.7911025145067698

## Final

In [357]:
to_drop=["Department","Rotations","Marital_status","Kids","Bonus","Distance","Age"]

In [358]:
modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=80,n_neighbors=105,p=1,weights='distance')
modelKNN.fit(X = data.drop(to_drop,axis=1), y = y)

KNeighborsClassifier(algorithm='auto', leaf_size=80, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=105, p=1,
                     weights='distance')

In [359]:
Guests=pd.DataFrame(test.index)
Guests=Guests.astype('int64')
fina=pd.DataFrame(modelKNN.predict(test.drop(to_drop,axis=1)))
fina=pd.DataFrame(lel.inverse_transform(fina))
fina.reset_index(inplace=True)
fina.drop('index',inplace=True,axis=1)
final=pd.concat([fina,Guests],axis=1)
final.set_index('Employee_ID',inplace=True)
final.rename(columns={0:"Churn_risk"},inplace=True)

//anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:289: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [360]:
final.to_csv("versions/m20190546_kV.csv")

# Grid KNN

In [192]:
parameter_space = {
'algorithm':['auto'], 
    'leaf_size':[80], # makes no difference
    'n_neighbors':[105],
    'p':[1],     # 1 definitely the best  
    'weights':['distance']
}

In [288]:
model = KNeighborsClassifier()

In [289]:
clf = GridSearchCV(model, parameter_space,n_jobs=8,verbose=5,cv=10,scoring='f1_micro')

In [274]:
data.columns

Index(['Employee_ID', 'Gender', 'Age', 'Days_off', 'Rotations', 'Satis_leader',
       'Satis_team', 'Emails', 'Tenure', 'Bonus', 'Distance', 'Kids',
       'Overtime', 'Marital_status', 'Department'],
      dtype='object')

In [ ]:
.792
 'Age', .793
 'Days_off', .777

 'Satis_leader', .792
'Satis_team', 
 'Emails', 
 'Tenure',
'Overtime'

In [202]:
# to_drop=["Department","Rotations","Marital_status","Kids","Gender","Bonus","Distance"] BEST

In [351]:
to_drop=["Department","Rotations","Marital_status","Kids","Bonus","Distance"]

In [352]:
clf.fit(data.drop(to_drop,axis=1),y)
# Best parameter set
print('------------------------------------------------------------------------------------------------------------------------')
print('Best parameters found:\n', clf.best_params_)
print('------------------------------------------------------------------------------------------------------------------------')

# All results
means = clf.cv_results_['mean_test_score']
stds = clf.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, clf.cv_results_['params']):
    if mean>0.0:
        print("%0.3f (+/-%0.03f) for %r" % (mean, std , params))

Fitting 10 folds for each of 1 candidates, totalling 10 fits
------------------------------------------------------------------------------------------------------------------------
Best parameters found:
 {'algorithm': 'auto', 'leaf_size': 80, 'n_neighbors': 105, 'p': 1, 'weights': 'distance'}
------------------------------------------------------------------------------------------------------------------------
0.793 (+/-0.011) for {'algorithm': 'auto', 'leaf_size': 80, 'n_neighbors': 105, 'p': 1, 'weights': 'distance'}

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done   4 out of  10 | elapsed:    0.1s remaining:    0.1s
[Parallel(n_jobs=8)]: Done   7 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=8)]: Done  10 out of  10 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=8)]: Done  10 out of  10 | elapsed:    0.1s finished

In [ ]:
to_drop=["Department","Rotations","Marital_status","Kids","Bonus","Distance","Age"]

In [ ]:
to_drop=["Department","Rotations","Marital_status","Kids","Bonus","Distance"]

In [ ]:
to_drop=["Department","Rotations","Kids","Gender","Bonus","Distance"] 0.791 v13

In [ ]:
to_drop=["Department","Marital_status","Kids","Gender","Bonus","Distance"] 0.792 v14

In [ ]:
to_drop=["Department","Rotations","Marital_status","Gender","Bonus","Distance"] 0.793 v15

In [ ]:
to_drop=["Department","Rotations","Marital_status","Kids","Bonus","Distance"] 0.793 v16

In [ ]:
to_drop=["Department","Rotations","Marital_status","Kids","Gender","Bonus"] 0.795 v17

# *** Best KNN ***

In [ ]:
to_drop=["Department","Rotations","Marital_status","Kids","Gender","Bonus","Distance"]

In [ ]:
modelKNN = KNeighborsClassifier(algorithm='auto',leaf_size=80,n_neighbors=105,p=1,weights='distance')
modelKNN.fit(X = data.drop(to_drop,axis=1), y = y)

using minmaxscaler

# ===========

# Bayes

In [691]:
modelNB = GaussianNB()

In [692]:
X_train, X_val, y_train, y_val = train_test_split(data.drop(["Satis_team","Gender","Bonus",
                                                             "Marital_status"],axis=1),
    y, test_size=0.1, stratify = y, random_state=12)

In [693]:
modelNB.fit(X = X_train, y = y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [694]:
modelNB.score(X_train, y_train)

0.6706792777300086

In [695]:
modelNB.score(X_val, y_val)

0.6344294003868471

In [696]:
modelNB.fit(X = data.drop(["Satis_team","Gender","Bonus",
                                                             "Marital_status"],axis=1), y = y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [697]:
Guests=pd.DataFrame(test.index)
Guests=Guests.astype('int64')
fina=pd.DataFrame(modelNB.predict(test.drop(["Satis_team","Bonus","Gender","Marital_status"],axis=1)))
fina=pd.DataFrame(lel.inverse_transform(fina))
fina.reset_index(inplace=True)
fina.drop('index',inplace=True,axis=1)
final=pd.concat([fina,Guests],axis=1)
final.set_index('Employee_ID',inplace=True)
final.rename(columns={0:"Churn_risk"},inplace=True)
final.to_csv("versions/m20190546_bV.csv")

//anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:289: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)